.flex_class{
    position: absolute!important;
    
    left: 60%;
}
.K{
    font-size: 40px!important;
}
#filler{
    background:linear-gradient(rgba(0, 190, 248, 0.5),rgba(0, 154, 243, 0.5)) ,url(img/t6.jpg)center/cover no-repeat fixed;

}
.circle{
    position: absolute;
    bottom: 90%;
    width: 50%;
    left: 80px;
}
.logo_K{
    width: 50%;
}
.over:hover{
    background-color: blue!important;
}